<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap uap5 rescap">

	<Identity
    Name="49490PBJSoftware.Battify"
    Publisher="CN=998C84B6-4B4D-482F-B102-3947ACC42DA7"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Battify</DisplayName>
    <PublisherDisplayName>PBJSoftware</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>


  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="Battify.exe" 
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Battify"
        Description="배터리 트레이 표시 및 알림 앱"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
			<uap5:StartupTask TaskId="BattifyStartup"
                              Enabled="true"
                              DisplayName="Battify" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
