<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Battify.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Battify.Settings>
            <setting name="theme" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="traytheme" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="mute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckedTrayGuide" serializeAs="String">
                <value>False</value>
            </setting>
        </Battify.Settings>
    </userSettings>
</configuration>